[submodule "app/gas-basic"]
	path = app/gas-basic
	url = https://github.com/bwasilewski/build-starter.git
[submodule "app/gas-basic-inuitcss"]
	path = app/gas-basic-inuitcss
	url = https://github.com/bwasilewski/gas-basic-inuitcss.git
